@charset "UTF-8";

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-medium.woff") format("woff");
  src: url("../fonts/montserrat-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-bold.woff") format("woff");
  src: url("../fonts/montserrat-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}

input {
  outline: none;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

body {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  height: 100%;
  color: #ffffff;
}

body._lock {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  background-color: #111111;
}

.wrapper > main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

._container {
  max-width: 1296px;
  margin: 0 auto;
  width: 100%;
  padding: 0 24px;
}

.header {
  margin-bottom: -125px;
}

.header__body {
  padding: 30px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-header__item {
  padding-right: 6%;
}

.menu-header__item:last-child {
  padding-right: 0;
}

.menu-header__third-link {
  padding-right: 0;
}

.menu-header__link {
  position: relative;
  font-weight: 600;
  line-height: 1.3333333333;
  color: #ffffff;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu-header__link:hover {
  color: #CDAA7D;
}

.menu-header__link:hover::before {
  width: 100%;
}

.menu-header__link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #CDAA7D;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu-header__logo {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-header__media {
  display: none;
  position: relative;
}

.logo-menu__link {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.logo-menu__link:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.menu__body {
  line-height: 1.25;
  font-size: 16px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  z-index: 5;
}

.menu__body.active {
  left: 0;
}

.main-screen {
  background: url("../img/bg.jpg") center top no-repeat;
}

.main-screen__content {
  padding-top: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-screen__title {
  padding-bottom: 290px;
  max-width: 961px;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.0555555556;
  text-align: center;
}

.main-screen__subtitle {
  padding-bottom: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3888888889;
}

.subtitle-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subtitle-screen__text {
  padding-left: 20px;
}

.services {
  padding: 120px 0 90px;
}

.services__text {
  margin: 0 auto;
  padding: 124px 0 65px;
  max-width: 856px;
  font-weight: 700;
  font-size: 27px;
  line-height: 1.2962962963;
  background: url(../img/services/decor.png) top center no-repeat;
}

.services__content {
  margin: 0 -40px;
}

.text-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
}

.content-services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 10px;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

.content-services__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 416px;
  flex: 0 0 416px;
  padding-bottom: 60px;
  padding-right: 20px;
}

.item-service {
  padding-right: 20px;
  padding-top: 20px;
}

.item-service__img {
  padding-bottom: 72%;
  z-index: 2;
}

.item-service__content {
  padding: 0 10px;
}

.item-service__body {
  position: relative;
}

.item-service__decor {
  position: absolute;
  top: -20px;
  left: 20px;
  width: 100%;
  height: 100%;
  border: 1px solid #CDAA7D;
}

.item-service__title {
  padding-top: 30px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
}

.labels {
  padding-bottom: 150px;
}

.content-labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.content-labels__item {
  /*         padding-bottom: 68px; */
  margin-bottom: 18px;
  height: 144px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 306px;
  flex: 0 0 306px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.works {
  margin-bottom: 100px;
}

.tabs-works__title {
  padding-bottom: 80px;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2083333333;
  text-align: center;
}

.tabs__nav {
  margin: 0 auto;
  padding-bottom: 40px;
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tabs__nav-btn {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.2916666667;
  position: relative;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.tabs__nav-btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #CDAA7D;
  display: none;
}

.tabs__nav-btn:not(:last-child) {
  margin-right: 20px;
}

.tabs__nav-btn.active {
  color: #CDAA7D;
}

.tabs__nav-btn.active::before {
  display: block;
}

.tabs__item {
  display: none;
}

.tabs__item.active {
  display: block;
}

.item-tab__body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 20px;
}

.item-tab__img {
  padding-bottom: 97%;
}

.footer__top {
  padding: 80px 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-top: 1px solid #CDAA7D;
  border-bottom: 1px solid #CDAA7D;
}

.footer__column {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 20px;
}

.footer__column:not(:last-child) {
  padding-right: 20px;
}

.footer__bottom {
  padding: 30px 0;
  text-align: center;
}

.contacts-footer_phone:not(:last-child) {
  padding-bottom: 15px;
}

.contacts-footer__title {
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2083333333;
}

.contacts-footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
}

.schedule-contact__item:not(:last-child) {
  padding-bottom: 15px;
}

.social-footer__link:not(:last-child) {
  padding-bottom: 15px;
}

.prices {
  padding: 100px 0 20px;
}

.body-prices__title {
  padding: 80px 0;
}

.body-prices__content {
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.body-prices__content:nth-child(3) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-flow: row-reverse;
  flex-flow: row-reverse;
}

.body-prices__img {
  max-width: 636px;
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
}

.body-prices__img img {
  max-width: 100%;
}

.body-prices__group {
  padding: 30px 0 30px 20px;
  width: 100%;
  max-width: 526px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
}

.body-prices__item {
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ffffff;
}

.body-prices__item:not(:last-child) {
  margin-bottom: 40px;
}

.item-price__column {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.column-price__title {
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 27px;
  line-height: 1.2962962963;
}

.column-price__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2777777778;
}

.column-figure__item {
  font-weight: 700;
  font-size: 27px;
  line-height: 1.2962962963;
  text-align: right;
}

.content-middle {
  padding: 30px 20px 30px 0;
}

.specialists {
  padding: 180px 0 40px 0;
}

.specialists__title {
  padding-bottom: 80px;
}

.specialists__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  justify-items: center;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

.content-specialists__item {
  padding: 0 0 60px;
}

.content-specialists__img {
  margin-bottom: 50px;
  position: relative;
  border: 1px solid #CDAA7D;
  min-height: 477px;
  min-width: 396px;
  max-width: 396px;
}

.content-specialists__img img {
  position: absolute;
  top: 20px;
  left: -20px;
  width: 100%;
}

.content-specialists__title {
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 27px;
  line-height: 1.2962962963;
}

.content-specialists__subtitle {
  font-weight: 400;
  font-size: 18px;
}

@media (max-width: 1250px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: #111111;
    padding: 100px 15px 50px 15px;
    -webkit-transition: left 0.3s ease;
  }
}

@media (max-width: 991.98px) {
  .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .menu-header__list {
    padding-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 30px;
  }

  .menu-header__item {
    padding: 0;
  }

  .menu-header__link {
    font-size: 24px;
  }

  .menu-header__media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .logo-menu__link {
    -webkit-transform: translate(-20px, 0);
    -ms-transform: translate(-20px, 0);
    transform: translate(-20px, 0);
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 40px;
    height: 25px;
    cursor: pointer;
    z-index: 10;
  }

  .icon-menu span {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    min-width: 30px;
    height: 2px;
    background-color: #ffffff;
    opacity: 1;
    visibility: visible;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu.active {
    position: fixed;
  }

  .icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu.active span:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }

  .icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .body-prices__content:nth-child(3) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .body-prices__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .body-prices__group {
    padding: 30px 0 30px 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }
}

@media (max-width: 767.98px) {
  .main-screen__title {
    max-width: 600px;
    font-size: 48px;
    line-height: 2;
  }

  .services {
    padding-bottom: 50px;
  }

  .labels {
    padding-bottom: 70px;
  }

  .tabs-works__title {
    font-size: 36px;
    padding-bottom: 40px;
  }

  .tabs__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .tabs__nav-btn:not(:last-child) {
    margin-right: 0;
  }
}

@media (max-width: 479.98px) {
  ._container {
    padding: 0 10px;
  }

  .main-screen__title {
    font-size: 24px;
  }

  .content-services__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 300px;
    flex: 0 0 300px;
  }

  .title {
    font-size: 36px;
  }

  .item-tab__body {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  .column-price__title {
    font-size: 20px;
  }

  .column-price__subtitle {
    font-size: 14px;
  }

  .column-figure__item {
    font-size: 20px;
  }

  .specialists__content {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .content-specialists__img {
    min-width: 250px;
    min-height: 320px;
  }
}